body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to right, #4CAF50, #2196F3);
  margin: 0;
  /* background-image: url(/mountain.jpeg); */
  background-position: center;
  background-size: cover;
  position: relative;
}

body::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0%;
  left: 0%;
  z-index: 0;
  backdrop-filter: blur(10px);
}

.weather-container {
  text-align: center;
  background-color: rgb(167, 164, 164);
  backdrop-filter: blur(15px);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  z-index: 2;
}
#in-div{
  width: auto;
  height: fit-content;
  display: flex;
  justify-content: center;
}

input {
  padding: 10px;
  width: 200px;
  margin-right: 10px;
  border-radius: 10px;
  font-family: sans-serif;
  font-weight: bold;
  outline: hidden;
}

button {
  padding: 10px 15px;
  margin: 5px;
  cursor: pointer;
  border-radius: 10px;
}

#weatherResult {
  margin-top: 20px;
  font-size: 18px;
}

.weather-container {
  text-align: center;
  font-family: Arial, sans-serif;
  margin-top: 50px;
}

input,
button {
  padding: 10px;
  font-size: 16px;
}

#weatherResult {
  margin-top: 20px;
}